{
  "presets": [
    "@babel/preset-react",
    ["@babel/env", {"modules": false}]
  ],

  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}